name: Build Retr-0-lympis

on:
  push:
    branches:
      - Release
  pull_request:
    branches:
      - Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build project
      run: dotnet build --configuration Release --no-restore

    - name: Publish output
      run: dotnet publish -r win-x64 --configuration Release

    - name: Publish output osx
      run: dotnet publish -r osx-x64 --configuration Release

    - name: Archive retr0lympis Win
      id: site-zip
      uses: thedoctor0/zip-release@master
      with:
          type: zip
          filename: retr0lympis-release.zip
          directory: bin/Release/net8.0/win-x64/

    - name: Archive retr0lympis OSX
      id: site-zip-osx
      uses: thedoctor0/zip-release@master
      with:
          type: zip
          filename: retr0lympis-release-osx.zip
          directory: bin/Release/net8.0/osx-x64/

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: v${{ github.run_number }}
        release_name: Release ${{ github.run_number }}

    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: bin/Release/net8.0/win-x64/retr0lympis-release.zip
        asset_name: retr-0-lympis.v${{ github.run_number }}.zip
        asset_content_type: application/zip

    - name: Upload Release Asset OSX
      id: upload-release-asset-osx 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: bin/Release/net8.0/osx-x64/retr0lympis-release-osx.zip
        asset_name: retr-0-lympis.v${{ github.run_number }}-osx.zip
        asset_content_type: application/zip

